<div
  class="flex flex-col bg-[#101a34fd] h-screen w-full gap-2 p-5 text-center items-center"
>
  <h1 class="text-3xl font-bold text-white">Admins</h1>
  <div class="flex flex-wrap justify-center gap-5">
    @for(admin of admins; track admin._id){

      <div>
        <!-- component -->
        <div
          class="relative flex flex-col text-gray-700 bg-white shadow-md w-80 rounded-xl bg-clip-border"
        >
          <div
            class="relative mx-6 mt-6 overflow-hidden text-gray-700 bg-white shadow-lg h-48 rounded-xl bg-clip-border"
          >
            <img
              src={{admin.profilePhoto?.url}}
              alt="profile-picture"
            />
          </div>
          <div class="p-6 text-center">
            <h4
              class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"
            >
              {{admin.username}}
            </h4>
            <p
              class="block font-sans text-base antialiased font-medium leading-relaxed text-transparent bg-gradient-to-tr from-pink-600 to-pink-400 bg-clip-text"
            >
              CEO / Co-Founder
            </p>
          </div>
          <div class="flex justify-center p-6 pt-2 gap-7">
            <a
              href="#facebook"
              class="block font-sans text-xl antialiased font-normal leading-relaxed text-transparent bg-gradient-to-tr from-blue-600 to-blue-400 bg-clip-text"
            >
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
            <a
              href="#twitter"
              class="block font-sans text-xl antialiased font-normal leading-relaxed text-transparent bg-gradient-to-tr from-light-blue-600 to-light-blue-400 bg-clip-text"
            >
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
            <a
              href="#instagram"
              class="block font-sans text-xl antialiased font-normal leading-relaxed text-transparent bg-gradient-to-tr from-purple-600 to-purple-400 bg-clip-text"
            >
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <!-- stylesheet -->
        <link
          rel="stylesheet"
          href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
        />

        <!-- Font Awesome Link -->
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"
        />
      </div>
    }

  </div>
</div>
