<div class="container w-full p-5 mx-auto my-auto">
  <div class="flex justify-center gap-5 p-5 mt-3 mb-3 border border-green-500 rounded-3xl add">
    <h1 class="text-center text-white border border-l-black">Create new Category</h1>
    <form (ngSubmit)="addCategory(categoryForm)" [formGroup]="categoryForm" class="form-group">
      <input
        type="text"
        id="categoryNameInput"
        placeholder="Category Name"
        class="p-3 m-1 text-black rounded-3xl"
        formControlName="Name"
      />
      <input
        type="text"
        id="categoryDescriptionInput"
        placeholder="Description"
        class="p-3 rounded-3xl m-1 text-black w-[400px]"
        formControlName="Description"
      />
      <input
        type="text"
        id="categoryImgInput"
        placeholder="Category Image"
        class="w-[400px] p-3 rounded-3xl m-1 ml-10 text-black"
        formControlName="CatImgSrc"
      />
      <input
        type="submit"
        id="addCategoryBtn"
        value="Add Category"
        class="p-2 mx-10 font-bold text-white bg-green-700 rounded-xl hover:scale-110"
      />
    </form>

  </div>
  <table class="table w-[1000px] p-9">
    <thead>
      <tr class="gap-5 text-2xl font-bold text-center ">
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for(category of Categoris; track category._id){
        <tr class="items-center gap-5 text-2xl font-bold text-center">
          <th scope="row">{{$index+1}}</th>
          <td>{{category.Name}}</td>
          <td>{{category.Description}}</td>
          <td>  
            <img [src]="category.CatImgSrc" [alt]="category.Name" width="200" height="200" class="shadow-4" />
          </td>
          <td>
            <button class="p-2 font-bold btn btn-primary" (click)="editCategory(category._id)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteCategory(category._id)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
