<div class="w-full">
  <div class="bg-[#101a34fd] h-full">
    <div class="flex justify-center h-full"> <!-- Set parent container to h-full -->
      <div class="container grid grid-cols-3 gap-10 mx-16 font-bold">
        <div class="num-admins bg-blue-950 p-5 flex-col rounded-3xl text-white text-center">
          <h1>Admins</h1>
          <h1 class="text-4xl font-bold">4</h1>
        </div>
        <div class="num-admins bg-blue-950 p-5 flex-col rounded-3xl text-white text-center">
          <h1>Freelancers</h1>
          <h1 class="text-4xl font-bold">15</h1>
        </div>
        <div class="num-admins bg-blue-950 p-5 flex-col rounded-3xl text-white text-center">
          <h1>Users</h1>
          <h1 class="text-4xl font-bold">50</h1>
        </div>
        <div class="num-admins bg-blue-950 p-5 flex-col rounded-3xl text-white text-center">
          <h1>Services</h1>
          <h1 class="text-4xl font-bold">10</h1>
        </div>
        <div class="num-admins bg-blue-950 p-5 flex-col rounded-3xl text-white text-center">
          <h1>Courses</h1>
          <h1 class="text-4xl font-bold">10</h1>
        </div>
        <div class="num-admins bg-blue-950 p-5 flex-col rounded-3xl text-white text-center">
          <h1>Orders</h1>
          <h1 class="text-4xl font-bold">23</h1>
        </div>
      </div>

      <div class="top-freelancers bg-blue-950 p-5 w-[900px] flex-col rounded-3xl text-white text-center ml-5">
        <h1 class="text-4xl font-bold">Top Freelancers</h1>
        <ul class="mt-3 flex flex-col gap-2 font-bold">
          <li class="bg-white flex justify-between p-2 rounded-full">
            <h1 class="text-2xl text-blue-800 mx-2">Mahmoud Saad</h1>
            <h1 class="text-2xl text-blue-800 mr-2">10</h1>
          </li>
          <li class="bg-white flex justify-between p-2 rounded-full">
            <h1 class="text-2xl text-blue-800 mx-2">Mahmoud Saad</h1>
            <h1 class="text-2xl text-blue-800 mr-2">10</h1>
          </li>
          <li class="bg-white flex justify-between p-2 rounded-full">
            <h1 class="text-2xl text-blue-800 mx-2">Mahmoud Saad</h1>
            <h1 class="text-2xl text-blue-800 mr-2">10</h1>
          </li>
          <li class="bg-white  flex justify-between p-2 rounded-full">
            <h1 class="text-2xl text-blue-800 mx-2">Mahmoud Saad</h1>
            <h1 class="text-2xl text-blue-800 mr-2">10</h1>
          </li>
        </ul>
      </div>
    </div>

    <div class="w-full">
      <h1 class="text-6xl text-center mt-5 text-white font-bold">Charts</h1>
    </div>
    <div class="w-full h-full bg-inherit"> <!-- Added h-full class here -->
      <app-charts class="w-full h-full"></app-charts> <!-- Add h-full class here -->
    </div>

  </div>
</div>