<div class="w-full h-full">
  <div class="bg-[#101a34fd]">
    <div class="flex flex-col justify-center md:flex-row "> <!-- Set parent container to h-full -->
      <div class="grid grid-cols-1 gap-2 p-2  md:grid-cols-3">
        <div class="p-5 text-center text-white num-admins bg-blue-950 rounded-3xl">
          <h4>Users</h4>
          <h4 class="text-xl font-bold">
            {{usersNumbers}}
          </h4>
        </div>
        <div class="flex-col p-5 text-center text-white num-admins bg-blue-950 rounded-3xl">
          <h4>Clients</h4>
          <h4 class="text-xl font-bold">
            {{clientsNumbers}}
          </h4>
        </div>
        <div class="flex-col p-5 text-center text-white num-admins bg-blue-950 rounded-3xl">
          <h4>Admins</h4>
          <h4 class="text-xl font-bold">
            {{adminsNumbers}}
          </h4>
        </div>
        <div class="flex-col p-5 text-center text-white num-admins bg-blue-950 rounded-3xl">
          <h4>Freelancers</h4>
          <h4 class="text-xl font-bold">
            {{freelancersNumbers}}
          </h4>
        </div>
        <div class="flex-col p-5 text-center text-white num-admins bg-blue-950 rounded-3xl">
          <h4> Categories</h4>
          <h4 class="text-xl font-bold">
            {{categoriesNumbers}}
          </h4>
        </div>
        <div class="flex-col p-5 text-center text-white num-admins bg-blue-950 rounded-3xl">
          <h4>Sub Categories</h4>
          <h4 class="text-xl font-bold">
            {{subCategoriesNumbers}}
          </h4>
        </div>
        <div class="flex-col p-5 text-center text-white num-admins bg-blue-950 rounded-3xl">
          <h4>Services</h4>
          <h4 class="text-xl font-bold">
            {{servicesNumbers}}
          </h4>
        </div>
        <div class="flex-col p-5 text-center text-white num-admins bg-blue-950 rounded-3xl">
          <h4>Courses</h4>
          <h4 class="text-xl font-bold">
            {{coursesNumbers}}
          </h4>
        </div>

      </div>

      <div class="flex-col p-5 ml-5 text-center text-white top-freelancers bg-blue-950 rounded-3xl">
        <h4 class="text-xl font-bold md:text-xl">Top Freelancers</h4>
        <ul class="flex flex-col gap-2 mt-3 font-bold">
          <li class="flex justify-between p-2 bg-white rounded-full">
            <h4 class="mx-2 text-2xl text-blue-800">Mahmoud Saad</h4>
            <h4 class="mr-5 text-2xl text-blue-800">10</h4>
          </li>
          <li class="flex justify-between p-2 bg-white rounded-full">
            <h4 class="mx-2 text-2xl text-blue-800">Ahmed Zena</h4>
            <h4 class="mr-5 text-2xl text-blue-800">15</h4>
          </li>
          <li class="flex justify-between p-2 bg-white rounded-full">
            <h4 class="mx-2 text-2xl text-blue-800">Caroline Karam</h4>
            <h4 class="mr-5 text-2xl text-blue-800">9</h4>
          </li>
          <li class="flex justify-between p-2 bg-white rounded-full">
            <h4 class="mx-2 text-2xl text-blue-800">Noha Mohamed</h4>
            <h4 class="mr-5 text-2xl text-blue-800">9</h4>
          </li>
        </ul>
      </div>
    </div>

    <div class="w-full">
      <h4 class="mt-3 mb-4 text-4xl font-bold text-center text-white">Charts</h4>
    </div>
    <div class="w-full h-full bg-inherit"> <!-- Added h-full class here -->
      <app-charts class="w-full h-full"></app-charts> <!-- Add h-full class here -->
    </div>

  </div>
</div>
