<!-- login.component.html -->


<div class="p-5 m-auto text-xl font-bold shadow-2xl w-50 bg-zinc-100 rounded-3xl ">
  <form class="flex flex-col gap-1"[formGroup]="LoginForm" (ngSubmit)="onLogin(LoginForm)">
    <label class="text-black" for="email" >email</label>
    <input type="text" id="email" name="email" class="h-[60px] form-control" formControlName="email"/>
    @if(LoginForm.get('email')?.errors && LoginForm.get('email')?.touched){

      <p class="text-red-500">the email must be valid</p>
    }
    <label class="text-black" for="password">password</label>
    <input type="password" id="password" name="password" class="h-[60px] form-control" formControlName="password" />
    @if(LoginForm.get('password')?.errors && LoginForm.get('password')?.touched){
      
      <p class="text-red-500">the password must be valid</p>
    }
    <div class="flex items-center justify-between">
      <button
  
        type="submit"
        class="px-4 py-2 mt-5 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
      >
        Login
      </button>
    </div>
  </form>
</div>