<div class="flex flex-col bg-[#101a34fd] h-screen w-full gap-2 p-5 text-center items-center">

  <div class="card">
    <table class="table w-full">
      <thead>
        <tr class="text-2xl font-bold text-blue-800 border border-black">
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Delivery Time</th>
          <th>Service Image</th>
          <th>Accept</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        @for(service of Services; track service._id){

        <tr>
          <td class="text-xl font-bold">{{ service.title }}</td>
          <td>{{ service.description }}</td>
          <td class="text-xl font-bold text-yellow-500">{{ service.price }}</td>
          <td>{{ service.deliveryTime }}</td>
          <td>
            <img [src]="service.serviceImgSrc" [alt]="service.title" width="100" class="shadow-4" />
          </td>
          <td class="px-4 py-3">
            <button
              class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              (click)="acceptService(service._id)">Accept</button>
          </td>
          <td class="px-4 py-3">
            <button
              class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              (click)="deleteService(service._id)">Delete</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>