<div class="flex flex-col bg-[#101a34fd] h-full w-full gap-2 p-5">

  <div class="card">

    <table class="table w-full">
      <thead>
        <tr class="text-2xl font-bold text-blue-800 border border-black">
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Duration</th>
          <th>Course Material</th>
          <th>Course Image</th>
          <th>Accept</th>
        </tr>
      </thead>
      <tbody>
        @for(course of courses; track course._id){

        <tr>
          <td class="text-xl font-bold">{{ course.Title }}</td>
          <td>{{ course.Description }}</td>
          <td class="text-xl font-bold text-yellow-500">{{ course.Price }}</td>
          <td>{{ course.Duration }}</td>
          <td><a [href]="course.CourseMaterial" target="_blank">View</a></td>
          <td><img [src]="course.CourseImg" alt="courseImg" width="100"></td>
          <td class="py-3">
            <button
              class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              (click)="acceptCourse(course._id)">Accept</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>