<div class="flex h-full w-[300px] bg-slate-900 flex-col gap-4 p-2 pr-10">
  <div class="logo mx-auto">
    <h1 class="text-2xl text-white font-bold mt-3">
      <span class="text-4xl text-yellow-500 cursor-pointer font-bold">S</span>ab3aat
    </h1>
  </div>
  <div class="flex flex-col gap-4">
    <ul class="text-white flex gap-6 flex-col pb-10">
      <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
        <i class="fa-solid fa-chart-pie icon text-white text-lg"></i>
        <a routerLink="dashboard">Dashboard</a>
      </li>

      <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
        <i class="fa-solid fa-user-tie icon text-white text-lg"></i>
        <a routerLink="admins">Admins</a>
      </li>
      <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
        <i class="fa-solid fa-code icon text-white text-lg"></i>
        <a routerLink="freelancers">Freelancers</a>
      </li>
      <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
        <i class="fa-solid fa-users icon text-white text-lg"></i>
        <a routerLink="users">Clients</a>
      </li>
      <hr>
      <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
        <i class="fa-solid fa-list icon text-white text-lg"></i>
        <a routerLink="categoris">Categories</a>
      </li>
      <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
        <i class="fa-solid fa-laptop-file icon text-white text-lg"></i>
        <a routerLink="services">Services</a>
      </li>
      <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
        <i class="fa-solid fa-school icon text-white text-lg"></i>
        <a routerLink="courses">Courses</a>
      </li>
      <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
        <i class="fa-solid fa-money-bills icon text-white text-lg"></i>
        <a routerLink="orders">Orders</a>
      </li>
      <li class="text-red-200 hover:text-red-500 cursor-pointer flex gap-5 text-center items-center font-extrabold">
        <i class="fa-solid fa-sign-out icon text-red-300 text-lg"></i>
        <button (click)="logout()">Logout</button>
      </li>
      <!-- logout -->
    </ul>

    <!-- logout -->
    <div class="flex justify-center items-center">

    </div>
  </div>
</div>
