<div class="flex h-full w-[300px] bg-slate-900 flex-col gap-10 p-5 pr-10">
    <div class="logo">
        <h1 class="text-4xl text-white font-bold">
            <span class="text-5xl text-yellow-500 cursor-pointer font-bold">S</span>abaat
        </h1>
        <a routerLink="home"></a>
    </div>
    <div class="flex flex-col gap-5">
      <ul class="text-white flex gap-6 flex-col pb-10">
        <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
          <i class="fa-solid fa-chart-pie icon text-white text-2xl"></i>
          <a routerLink="dashboard">Dashboard</a>
        </li>
  
        <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
          <i class="fa-solid fa-user-tie icon text-white text-2xl"></i>
          <a routerLink="admins">Admins</a>
        </li>
        <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
          <i class="fa-solid fa-code icon text-white text-2xl"></i>
          <a routerLink="freelancers">Freelancers</a>
        </li>
        <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
          <i class="fa-solid fa-users icon text-white text-2xl"></i>
          <a routerLink="users">Users</a>
        </li>
        <br> <hr> <br>
        <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
          <i class="fa-solid fa-list icon text-white text-2xl"></i>
          <a routerLink="categoris">Categories</a>
        </li>
        <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
          <i class="fa-solid fa-laptop-file icon text-white text-2xl"></i>
          <a routerLink="services">Services</a>
        </li>
        <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
          <i class="fa-solid fa-school icon text-white text-2xl"></i>
          <a routerLink="courses">Courses</a>
        </li>
        <li class="hover:text-yellow-500 cursor-pointer flex gap-5 text-center items-center font-bold">
          <i class="fa-solid fa-money-bills icon text-white text-2xl"></i>
          <a routerLink="orders">Orders</a>
        </li>
      </ul>
    </div>
  </div>
  